*{
    padding: 0;
    margin: 0;
}

header {
    background-image: url('../img/barrio_hero_section.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    margin-top: 3.5rem;
    width: 100%;
}

.bg-black{
    background: rgb(0, 0, 0,.50);
    height: 300px;
}

